{%extends "main/base.html"%}
{% load static %}

{%block content%}
    <div class="div-container">
        <div>
            <h2 class = "main-color" style="display:inline; position: relative;text-align: left">Name: </h2><h2 style="display:inline; word-wrap: break-word">{{location}}</h2>
        </div>
        <div>
            <br/>
            <h3 class = "main-color" style="display:inline;">Link: </h3><h3 style="display:inline; word-wrap: break-word">{{location.website_link}}</h3>
        </div>
        <div>
            <br/>
            <h2 class = "main-color" style="display:inline;">Username: </h2><h2 style="display:inline; word-wrap: break-word">{{location.website_username}}</h2>
        </div>
        <div>
            <br/>
            <h2 class = "main-color" style="display:inline;">Notes: </h2><h2 style="display:inline; word-wrap: break-word">{{location.website_notes}}</h2>
        </div>
        <div>
            {% if not confirmed%}
                <form method = "POST">
                    {% csrf_token %}
                    <h2 class = "main-color">Provide master password to view {{location}} password:</h2>

                    <input type="password" name = "password_field" name="Password">

                    <input type="submit" value="Submit">
                </form>
            {% endif %}
            <div>
                {% if confirmed %}
                    <br/>
                    <h2 class = "main-color" style="display:inline;">Password: </h2>
                    <h2 style="display:inline; word-wrap: break-word">{{decrypted}}</h2>
                {% else %}
                    <h2>{{message}}</h2>
                {% endif %}
            </div>
        </div>
    </div>
{%endblock content%}